.header {
    padding: 18px 71px;
    border-bottom: 1px #000000 solid;
}
.wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
.navButtons {
    display: flex;
    justify-content: space-between;
    gap: 59px;
    align-items: center;
}
.navButtons__login {
    display: block;
    color: #FF685B;
    border: 2px solid #FF685B;
    border-radius: 7px;
    text-decoration: none;
    width: 186px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    background-color: #ffffff;
}
.navButtons__login:hover {
    color: #ffffff;
    background-color: #FF685B;
}
.navButtons__item {
    text-decoration: none;
    color: #000000;
}